@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: #ccc6c6;
}
.indicators{
    margin-top:-30px !important;
}

.custom-scroll::-webkit-scrollbar-thumb{
    width: 5px;
    background: #03725a;
    border-radius: 5px;
    }
    .custom-scroll::-webkit-scrollbar{
    width: 5px;
    }
    

      body::-webkit-scrollbar {
        width: 5px;
        /* width of the entire scrollbar */
      }
      
      
      body::-webkit-scrollbar-thumb {
        width: 5px;
        background: #ccc;
        border-radius: 5px;
      }
